<a href="https://colab.research.google.com/github/KaahSilva/MeusArquivosPython/blob/main/1_MeuArquivoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-INTRODUÇÃO AO PYTHON

In [ ]:
print("OLÁ MUNDO!!")
nome = "Kalline"
sobrenome="Ferreira"

# 1.1COMENTÁRIOS EM PYTHON

In [ ]:
print("olá mundo02")

#print("KAHHHH")

'''
  Aqui tem um comentário
'''

# 1.2VARIÁVEIS

As variáveis podem ser do tipo



*   string - para letras
*   int - para inteiros


*   float - numeros flutuantes(reais)
*   double- números reais flutuantes em dobro


*   byte- tamanho de um byte
*   booleana- valores Verdadeiros e Falsos

In [ ]:
# VARIAVEIS TIPO STRING
# PYTHON NÃO FAZ DISTINÇÃO DE ASPAS SIMPLES E DUPLA

a= 'kalline'
b= " ferreira"
c= ''' silva'''

print(a+b+c)
print(a,b,c) #ELE ACEITA VIRGULAS PARA SEPARAR
print(a,b,c,sep = ' - ' ) #sep é um separador 
print(a,b,c,sep = ' - ' , end ='***fim***') #end ele so acrescenta apenas no final
print(a,b,c,sep = '\n') # ele quebra linha 
print('esse texto quebra uma linha \n aeee') # ele aceita \n como quebra linha

In [ ]:
#Outras formataçõe de string

print('Tenho um gatinho chamado %s, ele tem %s ano ' %("pipoca","1")) # %s ele é referente a string , que pode substituir no local onde foi inserido 

print('Estamos no ano de %d  e vou fazer %d anos ' %(2023,20) ) # %s ele é referente a string , que pode substituir no local onde foi inserido 

print("A pontuação do {} foi de {} pontos" .format("pedro" , "10")) # ele utiliza {} ele substitui o local onde foi inserido

#### Formatação:
  # %s texto
  # %d inteiro
  # %f real

Tenho um gatinho chamado pipoca, ele tem 1 ano
Estamos no ano de 2023  e vou fazer 20 anos
A pontuação do pedro foi de 10 pontos

In [ ]:
#Separação de termos de string 

nome= "Kalline"
print(nome)
print(len(nome))# o leng se refere ao lenght (tamanho) que oferece o tamanho da variavel(quantidade de letras)
print([0])

In [ ]:
#Pedaços do nome de uma string Slicing

nome ="sorvete"
print(nome[3:])# valores ao lado esquerdo dos dois pontos são executados . A direita não
print(nome[:3])# valores ao lado direito dos dois pontos são executados . A esquerda não
print(nome[:-3])#coloca os três primeiros valores 
print(nome[-3:]) #coloca os três últimos valores da string
print(nome[:3] + nome[3:] )

#NUMEROS

In [ ]:
'''
    Operadores Aritmeticos 

    - (subtração)
    + ( adição ou concateenação)
    * (mutiplicação)
    / (divisão)
    // (divisão inteiro)
    % (resto da divisão)
    ** (potenciação)
    dica para calcular a raiz de um numero EX: 4 ** (1/2)
'''

In [ ]:
#VARIÁVEIS NUMÉRICAS
# OS TIPOS DE VARIAVEIS SÃO: INT , DOUBLE , FLOAT
# não utiliza aspas

numero1= 1
numero2= 23

print(numero1 , numero2 , sep='-')

# IDENTAÇÃO

In [ ]:
## calculos de nomes

nome="kalline"
valor=2
resultado = (valor)**(len(nome))
print(resultado)

In [ ]:
## Variáveis Booleanas (False ou True)

a=3
b=4
b=7
print(a==b)

In [ ]:
## input = leia
## print = escreva
#Exercicio
senha = "ifma"
confere = input ("digite sua senha :")
if senha == confere:
    print("Senha correta!|Logado no sistema")
elif confere == "225":
    print ("senha de Administrador . gora voce é root")
else:
    print("senha incorreta!")

In [ ]:
# exemplo de IF com True

if (True):
  print("kalline")

In [ ]:
# exemplos de cadastro:

nome = input("Digite seu nome :")
endereco = input("Digite seu endereço:")
sexo= input("Sexo M/F:")

print(f"nome: {nome} \n Endereço: {endereco} \n sexo{sexo}")## ele tem esse f

In [ ]:
## For
## primeiro coloca o seu contador , no caso desse exemplo é i 
## utiliza o range() para determinar ate onde voce quer que o seu pare funcione

#### Faça os exercicios em Python abaixo ####
#1) imprima os numeros de 1 a 10
for i in range(10):
  print(i+1)

In [ ]:
#2) Imprima os números pares impares menores que 100.

for i in range(50):
   print(i*2+1)

In [ ]:
#4) Imprima todas as tabuadas de 1 a 10

for i in range(11):
  print("\n Tabuada de  ", i )
  for j in range(11):
    print("\t",i , "x" , "=", i*j) ## \t ele da um tab , tambem existe o \c

In [ ]:
#5 Some os números de 1 a 10

soma=0

for i in range(11):
  soma+=i
print("A soma é : ", soma)

In [ ]:
##6) Uma função que calcule a porcetagem de um número

numero = float(input("Digite um numero: "))
porcento = float(input("Digite a porcentagem :"))
resultado = numero*(porcento/100)

# Catring(Mudanças de tipo de variáveis)

In [ ]:
texto1 ="1.0"
texto2 = '3'
numero1 = float(texto1)
numero2 = int(texto2)

textotovoltar = str(numero1)

print(type(texto1))
print(type(texto2))
print(type(numero1))
print(type(numero2))

print(type(textotovoltar))

# Invertendo string

In [ ]:
texto = "ROMA"
print(texto [::-1]) # :inicar ,  :intervalo , ordem:  
                    # é onde começa | intervalo de quantos em quantos vai pular | ordem crescente ou decrescente 


# existe o metodo inverse

AMOR

# Testando a existencia de caracter no texto

In [ ]:
texto1 = "Casa"
print ("a" in texto1)   ## in significa inserido 
print ("i" in texto1)
print ("ASA" in texto1)
print ("asa" in texto1)
print ("ASA" not in texto1)

True
False
False
True
True

##Formatando String

In [ ]:
#teste de confirmação de email

email = input("Digite seu email:")
if "@" in email:
  print("email correto!")
else:
  print("Por favor acrescente o email correto")

#  IMUTABILIDADE DE STRING

In [ ]:
## Alterar valores de **string** no python não é permitido para isso utilizar o replace

##essa é a maneira ideal
texto = "estudo python 3"

print(texto.replace ("3", "2"))

estudo python 2

# separando string

In [ ]:
nomeCompleto = input("Digite seu nome: ")
nome = nomeCompleto[:8]
sobrenome = nomeCompleto[-9:]
print("Nome: " + nome)
print("Sobrenome: " + sobrenome)

Digite seu nome: kalline ferreira
Nome: kalline
Sobrenome:  ferreira

# Length

In [ ]:
## serve para ver o tamanho da variável
texto = "estudo python 3"

print(len(texto))

15

# Método **Capitalize**

In [ ]:
## ele faz a letra inicial ficar maiuscula

texto = "estudo de python 3"
teste = texto.capitalize()
print(teste)

Estudo de python 3

# start swith

In [ ]:
## ele verifica a letra inicial


texto = "estudo de python 3"
teste = texto.startswith("e")
print(teste)

True

# end swith

In [ ]:
## ele verifica a ultima letra

texto = "estudo de python 3"
teste = texto.endswith("3")
print(teste)

True

# Split

In [ ]:
## ele  separa por virgula a varivel  , ele faz isso dentro de um array do tipo lista

texto = "estudo de python 3"
print(type (texto))

teste = texto.split()

print(teste)
print(type (teste))

<class 'str'>
['estudo', 'de', 'python', '3']
<class 'list'>

# Comando de Desisão IF ELSE e Elif

In [ ]:
numero = 11
if numero >= 11:
  print("Maior ou igual a 11")
print("Fora do IF")

Maior ou igual a 11
Fora do IF

In [ ]:
numero = int(input("Digite um numero :"))
if numero >= 11:
  print("Maior ou igual a 11")

In [ ]:
a=3

b= int(input("Digite um numero: "))

In [ ]:
## lower coloca as letras em minusculo
## pode usar if sem o else 
## elif pode ser utilizado

nome = input("Digite seu nome: ")
nome= nome.lower()

for i in range(len(nome)):
  if nome[i] in "a":
    print("O nome " , nome , "tem a vogal" , nome[i])
  if nome[i] in "e":
    print("O nome " , nome , "tem a vogal", nome[i])
  if nome[i] in "i":
    print("O nome " , nome , "tem a vogal", nome[i])
  if nome[i] in "o":
    print("O nome " , nome , "tem a vogal", nome[i])
  if nome[i] in "u":
     print("O nome " , nome , "tem a vogal", nome[i])
  else:
    print("O nome " , nome , "não tem a vogal")

Digite seu nome: kalline
O nome  kalline não tem a vogal
O nome  kalline tem a vogal a
O nome  kalline não tem a vogal
O nome  kalline não tem a vogal
O nome  kalline não tem a vogal
O nome  kalline tem a vogal i
O nome  kalline não tem a vogal
O nome  kalline não tem a vogal
O nome  kalline tem a vogal e
O nome  kalline não tem a vogal

In [ ]:
num = int(input("Digite um numero:"))
if num < 10:
  print("Menor que 10")
elif num< 100:
  print("Menor que 100")
elif num< 1000:
  print("Menor que 1000")
else:
  print("Não estão dentro dos valores")

# LAÇOS

## while - enquanto

In [ ]:
num = 0
while True:
  if num == 5:
    break    ## ele para o codigo quando o indice for igual a 5
  print(num)
  num+=1
print("encerrou")

In [ ]:
## Comando continua pulando o valor
## o comando continue ele pula o numero 

num=0
while num < 10:
   num +=1
   if num == 4:
     continue
   print(num)
print("Terminou")

## for

In [ ]:
for i in range(10):
  print(i)

In [ ]:
#Start para range  ---> Coloca o numero para 

for i in range(1 , 11):
  print(i)

In [ ]:
#Usando o terceiro valor dentro do range

for i in range(0, 12, 2): ## primeiro valor : é o valor inicial do i , segundo valor: ate onde ele vai contar , terceiro valor: intervalo (onde ele pula)
  print(i)

In [ ]:
#Contagem regressiva

#for i in range(100 , -2, -2):
  #print(i)

for i in range(10 , -1, -1):
  print(i)

In [ ]:
#Range com string

texto = "Kalline"
for i in range(0 , len(texto)):
  print(texto[i])

In [ ]:
#Encontrando uma letras e a posição
nome =  input("Digite um nome:")
letra = input("Digite uma letra:")
for i in range (0, len(nome)):
  if letra == nome[i]:
    print("Encontrei a letra %s na posição %i " %(letra, i)) ## o %(letra, i) é as variaveis , elas devem está na ordem
    print("Encontrei a letra {} na posição {} " .format(letra, i))
    print(f"Encontrei a letra {letra} na posição {i} ")

Digite um nome:kah
Digite uma letra:a
Encontrei a letra a na posição 1
Encontrei a letra a na posição 1
Encontrei a letra a na posição 1

In [ ]:
## Condicinando com digito de uma letra apenas

nome = input("Digite um nome:")
letra= input("Digite uma letra:")
if len(letra) !=1:
  print("Digite apenas uma letra :")
else:
  for i in range(0, len(nome)):
    if letra == nome[i]:
      print("Encontrei a letra %s na posição %i") %(letra , i)
    break

In [ ]:
#for com texto 

texto = "kalline"
for x in texto:
  print(x)

k
a
l
l
i
n
e

In [ ]:
#for aninhado tabuada de 1 e 2 ou mais

for x in range(1, 11):
  print("=======================")
  for j in range(1,11):
    print (x,"x", j, "=", x*j)

# **ARRAY TIPO LISTA EM PYTHON - mutavel**

In [ ]:
'''
  
'''

In [ ]:

array=[] #lista vazia 

arry = list([1,2,3])#lista é um método do python
print(array)
print(arry)

[]
[1, 2, 3]

In [ ]:
array = [2, "nome", 5 , 7 , "Kalline", 20]
print(array[0:5]) #imprimido  vetores com mais de  uma posição
print(array [-1]) #imprimi o ultimo elemento do vetor
print(array[0]) #imprime o primeiro elemento da lista
print(array) #impriem toda a lista

In [ ]:
vetor = [10,2,3 , "abobora"]
#metodo append() insere um elemento no final da lista
vetor[1]=10     #substitui valor ele apaga e substitui
vetor.append(5) #adiciona no final
print(vetor)

#metodo que insere um elemento no vetor em qualquer posição do vetor (2,6)
vetor.insert(3,100)   #ele adiciona sem eliminar o valor
print(vetor)


     ### REMOVER VALORES  ###
vetor.remove('abobora') #remove um elemento pelo valor do elemento

vetor.pop(0) #remove pelo indice

vetor.clear() #limpa todos os elementos do vetor

[10, 10, 3, 'abobora', 5]
[10, 10, 3, 100, 'abobora', 5]

In [ ]:
## CONCATENAR ARRAYS
vetor1= [10,100, 110]
vetor2 =[20,200,220]
vetor3=(vetor1+vetor2)
print(vetor3)

[10, 100, 110, 20, 200, 220]

In [ ]:
##MUTIPLICA OS ARRAY (duplica ....)

vetor4= [1,2,3,4]
produto=((vetor4)*2)
print(produto)

In [ ]:
##Separando elementos de vetor em varios indepedentes

vetor5= [7,8,9]
x,y,z= vetor5
print(x)
print(y)
print(z)

7
8
9

## Percorrendo um vetor

In [ ]:
#Separando elementos com menos elementos que o total do vetor

vetor=[7,22,3]
a,b,c= vetor[0:3]
x,z,_= vetor #coloca underline no espaço que não que elementos
print(a)
print(b)
print(c)
print(x)
print(z)

7
22
3
7
22

In [ ]:
#Percorrendo elementos de um vetor pelos elementos

cores=["azul" , "preto" , "amarelo"]
for x in cores:
  print(x)

azul
preto
amarelo

In [ ]:
#Pecorrendo elementos de um vetor pelos indices

cores=["azul","preto", "amarelo"]
for i in range(0, len(cores)):
  print(cores[i])

azul
preto
amarelo

In [ ]:
## Percorrendo elementos de um vetor com while (while é usado quando o programador não tem a noção de quantos laços vai ter)
cor=["azul" , "preto", "amarelo"]
indice = 0  ## para o while ele precisa ter o indice
while (indice < len(cor)):
  print(cor[indice])
  indice+=1

azul
preto
amarelo

In [ ]:
## valores em ordem crescente e descresente numa lista
##ordem crescente

## sort ele so coloca em ordem alfabetica so imprime no print não aceita uma variavel
a = [5,7,2,3,9]
a.sort()
print(a)

[2, 3, 5, 7, 9]

In [ ]:
#ordem crescente com armazenamento em outra variavel
## sorted ele armazena em outra variavel

listal=[2,7,8,9,4]
novaLista = sorted(listal)
print(novaLista)

[2, 4, 7, 8, 9]

In [ ]:
#Ordem Decrescente com "reverse = True"

a = [5,7,2,3,9]
a.sort(reverse=True)

In [ ]:
#Ordem Decrescente  com armazenamento em outra variavel

listal= [2,7,8,9,4]
novaLista = sorted(listal, reverse=True)
print(novaLista)

In [ ]:
#Utilizando o Enumerate

# i representa o indice 0
# capturaElemento ele é uma variavel que guarda os elementos 

impostos =['MEI'  , 'Simples' , 'Complexo', 'Empresa']

for i, capturaElemento in enumerate(impostos):
  print(i, capturaElemento)

0 MEI
1 Simples
2 Complexo
3 Empresa

In [ ]:
#Lista de Listas

lista =[[1,2,3] , [7,8,9] , 6 ] # aqui são duas listas , o 6 é um elemento | e cada vetor vira um indice entao 1,2,3 é apenas um indice 
primeiraLista = lista[0]
print(primeiraLista)

segundaLista = [1]
print(segundaLista)

lista02=[[0,10,2,3] , [9,0,98,3]]
mostrarLista= lista02[0][1] ## no lista02[0][1] a segunda informação ele pega o elemento do vetor
print(mostrarLista)

In [ ]:
#Pegando elementos de uma lista interna

lista = [[1,2,3] , [7,8,9]]

elemento1 = lista[0][0]
elemento2 = lista[0][1]
elemento3 = lista[0][2]

print(elemento1)
print(elemento2)
print(elemento3)

1
2
3

# TUPLAS

In [ ]:
##Tuplas é uma lista que não pode ser modificada e deve ter no minino 02 elementos (imutaveis) é lido na hora da criação e não na hora da chamada (execusão )

## lista mutavel []
## lista imutavel ()

objetos = ("Casa" , "Sala", "Janela") #pode ser assim que é a mais utilizada ou:
doces = tuple(("chocolate ", "bombom " , "paçoca")) # pode ser aind assim: doces =("chocolate " ,"bombom" , "paçoca")
print(doces)

('chocolate ', 'bombom ', 'paçoca')

In [ ]:
#pegando elementos da tupla

num = (1,2,3,4,5)
escolha= num[2:4] ## lebrando que o python naturamente não pega todos os elementos de um array, reduzindo um
print(escolha)

index= num.index(3) ## escrevemos elemento  e ele retorna o indece , localizando o indexador da tupla.
print(index)


#### com string

texto = ['lua', 'sol', 'mercurio']
print(texto.index("sol"))
nome= texto[1]
print(nome[0])

(3, 4)
2
1
s

In [ ]:
#Transformando tuplas em listas  e vice-versa

setTupla=(1,2,3,4,5) ##----> tupla
listaNormal = list(setTupla) ##tupla em lista
listaNormal[0] =9
print(setTupla)
print(listaNormal)
listaNormal.append('olá')
setTupla = tuple(listaNormal) #lista em Tupla
print(setTupla)
teste = list(setTupla)
print(teste)

(1, 2, 3, 4, 5)
[9, 2, 3, 4, 5]
(9, 2, 3, 4, 5, 'olá')
[9, 2, 3, 4, 5, 'olá']

In [ ]:
## transformar tupla em lista para modificar os valores

tupla = (1,2,3,4,5,6)
print(tupla)
lista = list(tupla)
lista[0] = 100
print(lista)
tupla = tuple(lista)
print(tupla)

## SET - LISTAS IMUTÁVEIS

In [ ]:
# Com set não se pode mudar itens , mas somente remover e inserir itens 

listaSet = {0}
listaSetComElementos = {1,2,3}
listaSet.add(4) #adiciona elemento no set . Não adiciona em listas set sem elementos.
listaSetComElementos.add(4)
print(listaSet)
print(listaSetComElementos)

## se a lista tiver None ela adiciona , mas se tiver assim {} ele não adiciona

{0, 4}
{1, 2, 3, 4}

In [ ]:
#União de Set
### ele tambem não repete os valores e ainda coloca em ordem crescente e alfabetica 

set1 = {1,2,3}
set2 = {3,4,5}
setUnido = set1.union(set2)
print(setUnido)

{1, 2, 3, 4, 5}

In [ ]:
#Intereseção de sets 
### ele mostra o elemento que se repete na lista

set1 = {1,2,3}
set2 = {3,4,5}
setInter = set1.intersection(set2)
print(setInter)

{3}

In [ ]:
#Diferente do sets
## ele mostra todos os elementos que é diferente :os elementos no  set1 e no set2 que é igual é o 3 e ele não mostra 
set1 = {1,2,3}
set2 = {3,4,5}

setDif = set2.difference(set1) ## aqui ele ver a difrenca do set2 e compara com set1
print(setDif)

setDif = set1.difference(set2) ## aqui ele ver a difrenca do set1 e compara com set2
print(setDif)

{4, 5}
{1, 2}

# Dicionários

###### Os dicionarios podemos criar nossos propios indices podendo tambem ser letras eles podem ser tbm numeros float e boleano.
primeiro sempre vem o indice e depois o valor EX: idades = {'ana' : 16} . Ana é o indice e 16 é o valor

In [ ]:
#Dicionario é formaddo por um conjunto chave(índice) valor
# É necessario determinar o índice e o valor

idades = {'Ana' : 16 , 'Carol' : 20 , 'Dinha':43}
print(idades)
print(idades['Ana']) #acessa a chave(indice)

criador = {0: "Ana" , 1:"Jacaré" , 2:True , 10:3}
print(criador)
print(type(criador))

{'Ana': 16, 'Carol': 20, 'Dinha': 43}
16
{0: 'Ana', 1: 'Jacaré', 2: True, 10: 3}
<class 'dict'>

In [ ]:
# chave e valor pode ser de um tipo

reais={3.1 : "Tres Pontos um" , 2.9 : "Dois pontos nove"}
logico = {True: 1 , False : 0}
print(reais)
print(logico)

In [ ]:
#Alterando valores de dicionario com [] ou update

idades = {'Ana' : 16 , 'Carol' : 20 , 'Dinha':43}
idades ['Carol'] = 19 # primeira forma de alterar valores
idades.update({'Dinha':50}) ## segunda forma de alterar

print(idades)

{'Ana': 16, 'Carol': 19, 'Dinha': 50}

In [ ]:
#Adicionando chaves e valores

idades['Fofinho'] = 2
print(idades)

{'Ana': 16, 'Carol': 19, 'Dinha': 50, 'Fofinho': 2}

In [ ]:
#Removendo Valores

idades = {'Ana': 16 , 'Carol' : 20 , 'Dinha':43}
idades['Fofinho'] = 2
idades.pop ('Ana') ##Forma de remover indice e valor
print(idades)
idades.popitem() ##Remove o último item do dicionário
print(idades)

####Convertendo Dicionarios em Tuplas

In [ ]:
idades = {'Ana': 16 , 'Carol' : 20 , 'Dinha':43}
listas = idades.items() #Esse comando converte dicionário em tuplas
print(listas , end ="\n \n ")

print(type(idades))
print(type(listas))

##Percorrendo itens da lista

for item in listas:
  print(item[0] , item[1])

dict_items([('Ana', 16), ('Carol', 20), ('Dinha', 43)])

 <class 'dict'>
<class 'dict_items'>
Ana 16
Carol 20
Dinha 43

In [ ]:
# Imprimindo separadamente chaves e valores
idade = {'Ana': 16 , 'Carol' : 20 , 'Dinha':43}
chaves = idade.keys() ## key pega os indices
valores = idade.values()
for item in chaves :
  print(item)
print("--------------")
for item in valores:
  print(item)

Ana
Carol
Dinha
--------------
16
20
43

In [ ]:
#Apagando lista

idade.clear()
print(idade)

# Listas Comprehensions

In [ ]:
lista = [x in range(0,11)] #percorrer de x enquanto x no intervalo de 0 a 10
print(lista)

In [ ]:
#Ou ainda
lista1=['0', '1','quatro']
lista2=[x for x in lista1]
print(lista2)

['0', '1', 'quatro']

In [ ]:
#Lista para numeros pares
## lista imprime ate o
lista = [x for x in range(0,11,2)]
print(lista)

In [ ]:
## ou ainda

lista = [x for x in range(0,11)if x%2== 0]
print(lista)

In [ ]:
### ou ainda
#### porque todo numero mutiplicado por 2 é par
lista=[x*2 for x in range(0,11)]
print(lista)

In [ ]:
### Impressão de lista retirando elemento de lista
listaAux = [1,2,3,4,5]
lista = [x for x in range(0,11)if x not in listaAux]
print(lista)

##mostra os numeros que não aparece na lista dos numeros de 0 a 10

[0, 6, 7, 8, 9, 10]

In [ ]:
#Exemplo de intervalos

lista=[x for x in range(-10,10) if x < 9 if x>-4]
print(lista)

##ele pega apenas o intervalo : o x vai ate  menor 9 e maior que -4

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Mudando o tipo de dado
 
lista=[str(x) for x in range(-10,10) if x <9 if x>-4] ## aqui muda para se
print(lista)

##muda para strings

['-3', '-2', '-1', '0', '1', '2', '3', '4', '5', '6', '7', '8']

In [ ]:
#Retornando apenas o primeiro digitos

lista = [str(x)[0] for x in range(0,21) ] ##aqui muda para string
print(lista)

In [ ]:
#Par ou Impar
teste = ['par' if x % 2 ==0 else 'impar' for x in range(2,11)]
print(teste)

In [ ]:
#Função lambda